*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Roboto Mono', monospace;
color: #1b08c9;
}

body{ 
    background-color: rgb(56, 57, 134);							
}

a{
    color: #02dffc;
}

.fas, .fab{
    color: #02dffc;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #04102c;
}

.imgLogo {
    width: 65px;
}    

.navbar-links {
    height: 100%;
    margin-right: 50px;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #02dffc;
    padding: 1rem;
}


.navbar-links li:nth-child(3) {
    display: none;
}


.navbar-links li:hover {
    background-color: #1b08c9;
    transition: 0.5s;
}

.toggle-button {
    position: absolute;
    align-self: center;
    top: 10px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #02dffc;
    border-radius: 10px;
}

.banner {
    position: absolute;
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-image: url(../Images/Neural.gif);
    background-size:cover;
    }   

.bannerP {
    z-index: 10;
    position: absolute;
    font-size: 0.9em;
    text-align: center;
    max-width: 50vw;
    background-color: #b4caffc7;
    color: #0a1c45;
    border-radius: 10px;
    padding: 1vw;
}

.empresa {
    width: 80vw;
    height: 45vh;
    background-color: #b4caffc7;
    position: absolute;
    top: 80vh;
    left: 10%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.empresa h2{
    text-align: center;
    font-size: 2.5em;    
    margin-bottom: 5vh;
    text-decoration: underline;
    color: #0a1c45;
}

.empresa p{
    font-size: 1.2em;
    text-align: center;
    max-width: 75vw;
    color: #0a1c45;
}

footer {
    width: 100vw;
    background-color: #04102c;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.indexFooter{
    position: relative;
    top: 135vh;
    height: 100px;
}

.adress {
    width: 30vw;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.75em;
    position: relative;
    bottom: 5vh;
    color: #1b08c9;
}

.adress p{
    color: #02dffc;
}
.adress i  {
    font-size: 1.5 em;
}
.socialNetwork {
    position: relative;
    bottom: 5vh;
}

.socialNetwork i {
    font-size: 2em;
    text-decoration: none;
    padding: 0vh 1.5vw;
}

.socialNetwork a {
    text-decoration: none;
}

@media only screen and (max-width: 768px){
.empresa {
    height: 55vh;
}
}

@media only screen and (max-width: 600px){
.empresa {
    height: 75vh;
}

.indexFooter{
    top: 155vh;
}
}

/*End of index*/





/*CSS for Inteligencia Artificial*/

.textoIA {
    margin: 5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #b4caffc7;
    padding: 10px;
}

.bigTitleIA{    
    align-self: center;
    margin-bottom: 40px;
    font-size: 3.5em;
    background-color: #011441;
    color: aliceblue;
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}

.titleIA{
    font-size: 2.5em;
    margin: 20px 0px;
}

.pIA {
    text-align: justify;
    margin-bottom: 20px;
}

.subtitleIA {
    font-size: 1.5em;
    text-decoration: underline;
}

.historia{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 15vw;
}


.historiaP{
    text-align: justify;
    width: 87%;
    position: relative;
}

.backpropagationImg{
    height: 55vh;
}

.iAFooter{
    position: relative;
    top: 10px;
}
@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 600px){
    
}

/*End of Inteligencia Artificial*/






/* Css for Areas */
.container {
    position: relative;
    top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.container .box {
    position: relative;
    width: 350px;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.container .box {
    align-items: center;
    background-color: #04102c;
    margin: 3vw 1.5vw; 
    transition: 1s;
}

.container .box:hover {
    transform: translateY(-5vh);
}

.container .box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #011441, #0298fc);
    filter: blur(2vw);
}

.container .box::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #011441, #02dffc);
    filter: blur(2vw);
}

.container .box:nth-child(2)::before,
.container .box:nth-child(2)::after {
    background: linear-gradient(45deg, #02dffc, #011441)
}

.container .box span{
    position: absolute;
    top: 1em;
    right: 1em;
    left: 1em;
    bottom: 1em;
    background-color: #0007188f;
    z-index: 10;
}

.container .box .content {
    position: relative;
    z-index: 20;
    padding: 2em;
    text-align: center;
}

.container .box .content h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #a4bdf8;
}

.container .box .content p {
    font-size: 0.8em;
    margin-bottom: 2em;
    text-align: justify;
    color: #a4bdf8;
}

.container .box .content a{
    font-size: 0.8em;
}

.areasFooter {
    position: relative;
    top: 5vh;
}

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 600px){
    
}
/* End of CSS for "Areas"*/






/*CSS for "Socios"*/

.socios{
    margin: 2vw 10vw;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #b4caffc7;
    padding: 25px;
}

.socios p{
    text-align: justify;
}

.socios a{
    margin-bottom: 35px;
    text-align: center;
}

.bigBoxSalud {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.bigBoxIA {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.bigBoxSoftware {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.bigBoxEducacion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.boxes{
    width: 300px;
    height: 150px;
    background-color: #011441;
    border: 5px ridge white;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxImg{
    width: 10em;
}

.sociosFooter {
    position: relative;
    top: 5vh;
}

@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 600px){
    
}

/* End of Socios */






/* CSS for Contactanos  */




.boxContactanos {
    position: relative;
    top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    
}

.CV {
    position: relative;
    background-color: #a4bdf8;
    padding: 2vw 5vw;
}

.formCV input {
    width: 300px;
    padding: 6px;
    border-radius: 6px;
    border: none;
    padding: 6px;
}


.mensaje {
    position: relative;
    top: 10vh;
    background-color: #a4bdf8;
    padding: 2vw 5vw;
    margin-bottom: 25vh;
}

#inputBox1 {
    position: relative ;
}

#inputBox2 {
    position: relative ;
}

input{
    width: 300px;
    padding: 6px;
    border-radius: 6px;
    border: none;
    padding: 6px;   
}

.formCV .submit {
    width: 100px;
}

.submit {
    width: 100px;
}

#text1 {
    font-style: italic;
    display: block;
    font-size: 0.8em;
}

#form1.invalid #inputBox1::after{
    content: "";
    position: absolute;
    background-image: url(../Images/invalid.png);
    background-size: cover;
    z-index: 1000000;
    height: 1em;
    width: 1em;
    top: 0.5em;
    left: 280px;
}

#form1.valid #inputBox1::after{
    content: "";
    position: absolute;
    background-image: url(../Images/valid.png);
    background-size: cover;
    z-index: 1000000;
    height: 1em;
    width: 1em;
    top: 0.5em;
    left: 280px;
}

#form2.invalid #inputBox2::after{
    content: "";
    position: absolute;
    background-image: url(../Images/invalid.png);
    background-size: cover;
    z-index: 1000000;
    height: 1em;
    width: 1em;
    top: 0.5em;
    left: 280px;
}

#form2.valid #inputBox2::after{
    content: "";
    position: absolute;
    background-image: url(../Images/valid.png);
    background-size: cover;
    z-index: 1000000;
    height: 1em;
    width: 1em;
    top: 0.5em;
    left: 280px;
}

textarea {
    border: none;
    border-radius: 6px;
}


@media only screen and (max-width: 768px){

}

@media only screen and (max-width: 600px){
    
}


/*End of Contactanos*/





/*Media query for Navbar*/

@media only screen and (max-width: 768px){
    .navbar-links li:nth-child(2) {
        display: none;
    }

    .navbar-links li:nth-child(3) {
        display: inline-block;
    }

}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
        
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links li:nth-child(2) {
        display: none;
    }

    .navbar-links li:nth-child(3) {
        display: inline-block;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* End of Mediaquery for Navbar*/